/** ~~ Global Styling~~ **/
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #f6f8fa;
    /*overflow: hidden;*/
    font-family: 'Lato', sans-serif;
    color: #010101;
    min-height: 100vh;
    letter-spacing: 0.06em;
}

section, header {
    margin-top: 0;
    padding-top: 64px;
    margin: 0 64px 0 64px;
    margin-bottom: 0;
    opacity: 1;
    transition-delay: 0.1s;
    max-height: calc(100vw - 128px);
    transition: 0.2s;

    animation-delay: 1s;
    animation: 1s fadeIn;
}
footer {
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer ul {
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}
footer ul li {
    float: left;
    padding: 0 32px 0 32px;
}
footer ul li p, footer ul li a {
    font-size: 0.75rem;
    color: #323333;
}
header {
    height: calc(134px/3);
}

/** ~~!important~~ **/
.hidden {
    opacity: 0 !important;
    background: none !important;
    transition: 0.2s;
    pointer-events: none;
}

.display_none {
    display: none;
}

.highlight {
    transition: 0.2s;
    background: rgba(225, 115, 129, 0.1);
}

/** ~~Text Styles~~ **/
h1 {
    font-size: 1rem;
    margin-top: 0;
}
p, a, body {
    font-size: 0.875rem;
}
a {
    text-decoration: none;
    color: rgba(225, 115, 129, 1);
    cursor: pointer;
    transition: color 0.2s
}
a:hover {
    color: rgba(227, 125, 119, 1)
}
a:active {
    color: rgba(232, 145, 99, 1)
}

.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: 5s;
}

.scale-exit {
  overflow-x: hidden;
  width: initial;
}
.scale-exit-active {
  overflow-x: hidden;
  width: 0px;
  transition: 5s;
}

.transition-delay {
    transition-delay: all 200ms;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes scaleIn {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

/** ~~Interactive Elements~~ **/
.button {
    background-image: linear-gradient(rgba(225, 115, 129, 0), rgba(248, 218, 28, 0));
    background-color: rgba(225, 115, 129, 1);
    color: #fefefe;
    display: inline-flex;
    cursor: pointer;

    height: 36px;
    border-radius: 4px;

    justify-content: center;
    align-items: center;
    transition: 0.2s;

    padding: 0 8px;

    animation: fadeIn 0.4s;
}
.button:hover {
    background-image: linear-gradient(rgba(248, 218, 28, 0.1), rgba(225, 115, 129, 0.1));
}
.button:active {
    background-image: linear-gradient(rgba(248, 218, 28, 0.3), rgba(225, 115, 129, 0.3));
}
.button.outline {
    border: 3px solid rgba(225, 115, 129, 1);
    background-color: rgba(255, 255, 255, 1);

    height: 30px;
    min-width: 59px;

    transition: 0.2s;
}
.button.outline:hover, .button.text:hover {
    background-color: rgba(253, 248, 249, 1);
}
.button.outline:active, .button.text:active {
    background-color: rgba(249, 227, 230, 1);
}
.button.outline p, .button.text p {
    color: rgba(225, 115, 129, 1);
}
.button.text {
    background-color: rgba(225, 115, 129, 0);
    background-image: none;
    transition: 0.2s;
}
.button.child-0 {
    background-color: rgba(225, 115, 129, 1);
}
.button.child-1 {
    background-color: rgba(196, 113, 237, 1);
}
.button.child-2 {
    background-color: rgba(0, 115, 222, 1);
}

.dropdown_container, .dropdown_label {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    z-index: 2;
}
.dropdown_container {
    transform-origin: left;
    animation: fadeIn 0.4s;
    z-index: 2;
}
.dropdown {
    display: inline-flex;
    max-height: calc(100vh - 144px);
    flex-direction: column;
    background-color: #fff;
    cursor: pointer;
    overflow: auto;
    opacity: 1;
    transition: all 0.2s;
    transition: max-height 0s;
    top: 32px;
    margin-top: 8px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}
.dropdown.hidden {
    cursor: default;
    max-height: 0;
    overflow-y: hidden;
}
.dropdown, .graph_zone {
    border-radius: 4px;
}
.dropdown_option {
    height: 36px;
    min-height: 36px;
    min-width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.2s;
    padding: 0 8px;
}
.dropdown_option:hover, .dropdown_option.selected:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.dropdown_option:active, .dropdown_option.selected:active {
    background-color: rgba(0, 0, 0, 0.15);
}
.dropdown_option.selected {
    background-color: rgba(0, 0, 0, 0.05);
}
.dropdown p, .button p {
    margin: 0;
    display: block;
    font-size: .875rem;
    font-weight: 700;
    letter-spacing: 0.09em;
}

.next {
    fill: rgba(225, 115, 129, 1);
    animation: 1s fadeIn;
    transition: fill 0.2s;
}
.next:hover {
    fill: rgba(227, 125, 119, 1)
}
.next:active {
    fill: rgba(232, 145, 99, 1)
}

/** ~~ Informative Elements ~~ **/
progress {
  display: block; /* default: inline-block */
  width: 256px;
  height: 26px;
  margin: 2em auto;
  padding: 4px;
  border: 3px solid #e17381;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
}
progress::-webkit-progress-bar {
    background: transparent;
}
progress::-webkit-progress-value {
  border-radius: 3px;
  background: #e17381;
}

.xaxis, .yaxis {
    font-size: 0.875rem;
    text-align: center;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
    z-index: 1;
    position: absolute;
}
.xaxis {
    height: 45px;
    width: calc(100% - 128px - 96px - 32px);
    flex-direction: row;
    margin: auto 48px auto 48px;
    padding: 0 16px;
    align-items: center;
}
.yaxis {
    height: calc(100vh - 388px - 32px);
    min-height: calc(100vw/3 - 96px - 32px);
    max-height: calc(100vw - 128px - 96px - 32px);
    width: 45px;
    flex-direction: column;
    margin: 48px auto 48px auto;
    padding: 16px 0;
}
.yaxis li, .xaxis li {
    animation: 0.4s fadeIn;
}

circle, rect {
    transition: transform 0.4s;
    animation: 0.4s fadeIn;
}

/** ~~Static Elements~~ **/

.rectangle {
    position: relative;
    height: calc(100% - 96px);
    width: calc(100% - 96px);
    margin: 45px auto 0 auto;
    border: 3px solid;
    border-image-source: linear-gradient(#0073de 0, #c471ed 50%, #e17381 100%);
    border-image-slice: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.2s;
    z-index: 1;
}
.rectangle .dropdown_container {
    position: absolute;
    top: 16px;
    right: 16px;
}

.zone {
    display: inline-block;
    width: 100%;
    height: 100%;
    min-height: calc(100vw/3);
    max-height: calc(100vw - 124px);
    background: #fff;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.col_container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.left, .right {
    display: inline-table;
    width: 50%;
    flex-direction: column;
    height: 100%;
}

/** ~~Section Specific~~ **/
#file_select {
    height: calc(100vh - 128px);
    max-height: none;
}
#file_select .zone {
    max-height: none;
}
#file_select .rectangle {
    flex-direction: column;
}

#line_graph {
    height: calc(100vh - 292px);
    min-height: calc(100vw/3);
    margin-bottom: 32px;
}
#bar_graph {
    height: calc(100vh - 128px);
}
#bar_graph .xaxis, #bar_graph .yaxis {
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: row;
}
#bar_graph svg {
    width: calc(100% - 28px);
    height: calc(100% - 32px);
    margin-left: 8px;
}

#statistics {
    height: calc(100vh - 64px - 64px - 32px);
}

#privacy .zone {
    margin-bottom: 64px;
}

#instructions {
    height: calc(100vh - 128px);
}
#instructions .zone {
    display: inline-grid;
}
#instructions iframe {
    margin: 64px;
    height: calc(100% - 128px);
    width: calc(100% - 128px);
}
#instructions a {
    z-index: 1;
    position: absolute;
    top: calc(50% - 32px);
}
#instructions footer {
    bottom: 0;
}

/** ~ Scrollbar ~ **/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: #f6f8fa;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(205, 205, 205, 1);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(180, 180, 180, 1);
}
::-webkit-scrollbar-thumb:active {
  background-color: rgba(165, 165, 165, 1);
}
